<div id="assignments" class="fullheight">
    <div id="leftsidebar" class="panel">
        <div id="assignments-list" class="list large-list selectable">
            <fallback-label v-if="data.isEmpty()" text="No upcoming assignments" bg="white"></fallback-label>
            <div class="list-group" v-for="(group, index) of data.groups" :key="index">
                <div class="list-header">
                    <span class="list-header-title">{{ group.title }}</span>
                </div>
                <assignment-list-item v-for="assignment in group.content" :key="assignment.aid" :assignment="assignment" @click.native="select(assignment)" :class="{ active: isCurrentSelection(assignment) }"></assignment-list-item>
            </div>
        </div>
        <div class="action-bar logan-bg">
            <button class="btn btn-light btn-sm" @click="newAssignment">New Assignment</button>
        </div>
    </div>
    <div id="assignment-detail" class="panel list-detail">
        <assignment-detail-view class="fullheight" :assignment="currentSelection" @delete="assignmentDeleted" @change="assignmentUpdated"></assignment-detail-view>
    </div>
</div>