.course-list-item {
    border-bottom: solid 1px #e0e0e0;
    padding: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    user-select: none;
    background: white;
}

.task-list-item:hover {
    background: rgba(0, 0, 0, 0.05);
}

.course-content {
    margin-left: 10px;
    font-size: 1em;
    line-height: 1.2em;
}

.course-name {
    display: block;
}

.course-descriptor {
    display: block;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.6) !important;
}

.course-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.2);
}