body {
    margin: 0;
  }
  
  #app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .navbar {
    height: 56px;
  }
  
  .main {
    position: absolute;
    top: 56px;
    left: 0px;
    width: 100%;
    height: calc(100% - 56px);
  }