body {
  margin: 0;
}

#main {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  height: 56px;
  background: rgb(0, 150, 136);
}

.view {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 100%;
  height: calc(100% - 56px);
}

.fullheight {
  height: 100%;
}

.panel {
  height: 100%;
  display: inline-block !important;
}

.list {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  border-right: solid 1px #e0e0e0;
}

.list-detail {
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(100% - 400px);
}