<div class="task-detail-view">
    <div class="list-detail">
        <div class="section">
            <div>
                <textarea id="title-input" v-model="task && task.title" :disabled="!task" placeholder="Title"></textarea>
                <textarea id="description-input" v-model="task && task.description" :disabled="!task" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="section">
            <table id="props-table">
                <tbody>
                    <tr>
                        <td>Due</td>
                        <td>
                            <select v-model="dueDateType" :disabled="!task">
                                <option value="d">On date...</option>
                                <option value="a">ASAP</option>
                                <option value="e">Eventually</option>
                            </select>
                            <input type="date" v-model="dueDateValue" v-if="dueDateType == 'd'">
                        </td>
                    </tr>
                    <tr>
                        <td>For</td>
                        <td>
                            <course-select v-model="task && task.course" :disabled="!task"></course-select>
                        </td>
                    </tr>
                    <tr>
                        <td>Priority</td>
                        <td>
                            <select v-model="task && task.priority || 0" :disabled="!task">
                                <option value=-2>Really low</option>
                                <option value=-1>Low</option>
                                <option value=0>Normal</option>
                                <option value=1>High</option>
                                <option value=2>Really high</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="delete-container">
        <button class="delete-button" @click="deleteTask">Delete task</button>
    </div>
</div>