#course-detail-view {
    flex-direction: column;
}

.section {
    padding: 12px;
}

#basic-info {
    border-bottom: solid 1px #e0e0e0;
}

#sections-container {
    flex-grow: 1;
    display: flex;
}