<div id="course-detail-view" class="fullheight">
    <div id="basic-info" class="section">
        <input id="name-input" type="text" :value="course.name" placeholder="Name">
        <input id="nickname-input" type="text" :value="course.nickname" placeholder="Nickname">
        <input id="descriptor-input" type="text" :value="course.descriptor" placeholder="Descriptor (ex: ECON 101)">
    </div>
    <div id="sections-container">
        <div id="sections-list" class="small-list">
            <div id="section-head" class="logan-bg">Sections</div>
            <div class="list small-list">
                <section-list-item v-for="section of course.sections" :key="section.secid" :section="section"></section-list-item>
            </div>
        </div>
        <div class="panel list-detail">
            <section-detail-view></section-detail-view>
        </div>
    </div>
</div>