<div id="course-detail-view" class="fullheight">
    <div id="basic-info" class="section">
        <div id="primary-container">
            <div id="course-color" :style="{ background: '#' + course.color }"></div>
            <input @input="registerChange" id="name-input" type="text" v-model="course.name" placeholder="Name" :disabled="course.isFake">
            <button @click="performDelete" style="flex-grow: 0; margin: 0px 0px 0px 3px; padding-left: 1em; padding-right: 1em;" class="delete-button" :disabled="course.isFake">Delete<br>Course</button>
        </div>
        <div id="details-container">
            <div>
                <label>Nickname</label>
                <input @input="registerChange" id="nickname-input" type="text" v-model="course.nickname" placeholder="Intro to Econ" :disabled="course.isFake">
            </div>
            <div>
                <label>Descriptor</label>
                <input @input="registerChange" id="descriptor-input" type="text" v-model="course.descriptor" placeholder="ECON 101" :disabled="course.isFake">
            </div>
            <div>
                <label>Color</label>
                <input @input="registerChange" id="color-input" type="text" v-model="course.color" placeholder="0032ed" :disabled="course.isFake">
            </div>
        </div>
    </div>
    <div id="sections-container">
        <div id="sections-list" class="small-list">
            <div id="section-head" class="logan-bg">
                Sections
                <button class="btn btn-sm btn-light" @click="newSection" :disabled="course.isFake">+</button>
            </div>
            <div class="list small-list selectable">
                <section-list-item v-for="section of course.sections" :key="section.secid" :section="section" @click.native="select(section)" :class="{ active: currentSelection && section.secid == currentSelection.secid }"></section-list-item>
            </div>
        </div>
        <div class="panel list-detail">
            <section-detail-view :section="currentSelection" @delete="deleteSection"></section-detail-view>
        </div>
    </div>
</div>