<div id="tasks" class="fullheight">
    <div id="leftsidebar" class="panel">
        <div id="task-list" class="list large-list selectable">
            <div class="list-group" v-for="(group, index) of data.groups" :key="index">
                <div class="list-header">
                    <span class="list-header-title">{{ group.title }}</span>
                </div>
                <task-list-item v-for="task in group.content" :key="task.id" :task="task" @click.native="select(task)" :class="{ active: isCurrentSelection(task) }"></task-list-item>
            </div>
        </div>
        <div class="action-bar logan-bg">
            <button class="btn btn-light btn-sm" @click="newTask">New Task</button>
        </div>
    </div>
    <div id="task-detail" class="panel list-detail">
        <task-detail-view class="fullheight" :task="currentSelection" @change="taskUpdated" @delete="deleteCurrentTask"></task-detail-view>
    </div>
</div>