<div id="section-detail-view" class="fullheight">
    <div class="section">
        <div class="input-container">
            <input type="text" placeholder="Name">
        </div>
        <div class="input-container">
            <input type="text" placeholder="Location">
        </div>
        <p>Term begins <input type="date"> and ends <input type="date"></p>
        <p>Occurs from <input type="time"> until <input type="time"></p>
        <p>Repeats every <select><option v-for="n in 3">{{ n }}</option></select> weeks</p>
    </div>
</div>