<div id="section-detail-view" class="fullheight">
    <div class="section">
        <div class="input-container">
            <input @input="registerChange" type="text" placeholder="Name" v-model="section.name" :disabled="section.isFake">
        </div>
        <div class="input-container">
            <input @input="registerChange" type="text" placeholder="Location" v-model="section.location" :disabled="section.isFake">
        </div>
        <p>
            Term begins
            <input @input="registerChange" type="date" v-model="startDate" :disabled="section.isFake">
            and ends
            <input @input="registerChange" type="date" v-model="endDate" :disabled="section.isFake">
        </p>
        <p>
            Occurs from
            <input @input="registerChange" type="time" v-model="startTime" :disabled="section.isFake">
            until
            <input @input="registerChange" type="time" v-model="endTime" :disabled="section.isFake">
        </p>
        <p>
            Repeats every
            <select @change="registerChange" v-model.number="section.weeklyRepeat" :disabled="section.isFake">
                <option v-for="n in 3">{{ n }}</option>
            </select>
            weeks on
            <dow-picker @input="registerChange" v-model="section.daysOfWeek" :disabled="section.isFake"></dow-picker>
        </p>
    </div>
    <div class="delete-container">
        <button class="delete-button" @click="performDelete" :disabled="section.isFake">Delete Section</button>
    </div>
</div>